@model IEnumerable<LojaDeDisco.Api.Models.Genero>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" language="javascript">
	$(document).ready(function () {
		$(".botao-mais").click(function () {
			var id = $(this).attr("id");
			if ($("#" + id + "_button").hasClass("glyphicon-plus-sign")) {
				$("#" + id + "_container").load("genero/GetFilho/" + id);
				$("#" + id + "_button")
					.removeClass("glyphicon-plus-sign")
					.addClass("glyphicon-minus-sign");
			} else {
				$("#" + id + "_container").empty();
				$("#" + id + "_button")
					.removeClass("glyphicon-minus-sign")
					.addClass("glyphicon-plus-sign");
			}
		});
	});
</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
	<div class="row h3">
		<span class="col-md-3 col-sm-6">Subgêneros</span>
		<span class="col-md-3 col-sm-6">@Html.DisplayNameFor(model => model.Nome)</span>
		<span class="col-md-6 col-sm-12">
		</span>
	</div>
	<div class="row">
@foreach (var item in Model) {
	<div class="row" style="border-bottom: #000099 1px dotted;">
		<span class="col-md-3 col-sm-6">
			@if (item.Filhos.Count > 0)
			{
			<span id="@(item.Id)" class="btn-default botao-mais">
				<span class="glyphicon glyphicon-plus-sign" id="@(item.Id)_button"></span>Ver subitens
			</span>
			}
		</span>
		<span class="col-md-3 col-sm-6">@Html.DisplayFor(modelItem => item.Nome)</span>
		<span class="col-md-2 col-sm-4">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</span>
		<span class="col-md-2 col-sm-4">@Html.ActionLink("Details", "Details", new { id = item.Id }) </span>
		<span class="col-md-2 col-sm-4">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</span>
		<span class="clearfix"></span>
			@if (item.Filhos.Count > 0)
			{
		<div id="@(item.Id)_container" class="col-md-12"></div>
			}
	</div>
}
	</div>
</div>
